<div class="message-container <%= message.user.id == current_user.id ? 'message-left' : 'message-right' %>" id="message-<%= message.id %>">
    <i class="author">
    <%# raise %>
       <%= image_tag message.user.profile_picture_url, alt: "", class: ""%>   
      <div class="username-time-container">
      <div class="time-date">
      <small ><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </div>
      </div>  
    </i>
    <div class="message-content">
    
    <p><%= message.content %></p>
    </div>
</div>