<div class="message-container" id="message-<%= message.id %>">
    <i class="author">
    <%# raise %>
        <img src="<%= message.user.profile_picture_url %>" alt="">
        
      <span><%= message.user.username %></span>
      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    </i>
    <p><%= message.content %></p>
</div>