<div class="chatroom-container">
    <ul class='chatrooms-index-card-ul'>
        <%= link_to 'go back', :back %>
        <p class='chatrooms-header'>Messages From:</p>
        <% @chatrooms.each do |chatroom| %>
            <li class='chatrooms-index-card'>
                <%= link_to chatroom_path(chatroom), class: 'chat-link' do %>
                    <div class="chat-card">
                        <% if chatroom.user_one.id == current_user.id %>
                            <%= image_tag chatroom.user_two.profile_picture_url, alt: "", class: ""%>
                            <% else %>
                            <%= image_tag chatroom.user_one.profile_picture_url, alt: "", class: ""%>
                        <% end %>
                        <h3 class='chatrooms-index-card-name'><%= chatroom.user_one.id == current_user.id ? chatroom.user_two.name : chatroom.user_one.name %></h3>
                    </div>
                <% end %>
            </li>
        <% end %>
    </ul>
</div>
