<div class="top-card">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <%= image_tag @user.profile_picture_url %>
               </div>
               <div class="carousel-item">
                  <div id="map"
                     style="width: 400px; height: 345px;"
                     data-markers="<%= @markers.to_json %>"
                     data-mapbox-api-key="pk.eyJ1IjoiZHVzYW4tcCIsImEiOiJja29lNzRqb3UwMXZhMnFvZzExYXZmYmxyIn0.X80PFeerveeNlOlkLrGWsw"></div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
         </div>
         <div class="card-body">
         <h5>A Quick Introduction </h5>
            <p class="card-text">
               <%= @user.bio %>
            </p>
         </div>
         <div class="button-container">
         <%= link_to "Talk To Me", { :controller => "chatrooms", :action => "start_chat", user: @user}, class: "btn primary-button btn-sm" %>
         </div>
         <div class="reviewcard">


         </div>
      </div>
</div>
         

<div class ="upperbar">
   <div class="reviews-title">
      <span>Reviews</span><%= link_to "Add A Review", new_user_review_path(@user) %>
   </div>
   <div class="reviews">
      <% @reviews.each do |review| %>
         <div class="review-card">
            <blockquote class="blockquote mb-0">
              <div class="stars">
               <p><%= '⭐️' * review.rating %></p>
               <p><%= review.content %></p>
               <span><%= review.reviewer.username %></span>
            </blockquote>
         </div>
      <% end %>
   </div>
   <hr>
</div>
