<div class="container">
  <%= link_to "<- Back", :back %>

    <div class="row d-flex mt-5">
      <div class="img-contianer col-md-4 ">
        <img class="profile-picture mb-4" src="<%= @user.profile_picture_url %>" alt="">

        <div class="name-and-availability-container d-flex">
          <h1><%= @user.name %></h1>

          <ul class="availability-list">
            <li class="availability-item">offering a couch</li>
            <li class="availability-item">up for hanging out</li>
          </ul>
        </div>


      </div>
      <div class="text-container col-md-8 mb-5">
        <p class='user-card-bio'><%= @user.bio %></p>
        <p class='user-card-description'><%= @user.description %></p>
        <%#             <%= link_to "Contact", confirmation_path :class => "btn btn-info ml-auto"%>
        <%= link_to "Contact me", { :controller => "chatrooms", :action => "start_chat", user: @user}, class: "btn btn-info ml-auto" %>

        <%#             <button type="button" class="btn btn-info ml-auto">Contact <%= @user.name %></button>

      </div>

      <div class="couch-img-container">
        <img src="https://i.redd.it/7jvnrhhnfws41.jpg" alt="" class="couch-img">
        <img src="https://i.pinimg.com/originals/b6/86/fb/b686fb4de1b9639b0507c5a2163a9f8f.jpg" alt="" class="couch-img">
        <img src="https://myanimals.com/wp-content/uploads/2018/01/dog-on-sofa.jpg" alt="" class="couch-img">
      </div>
    </div>


    <h3 class="mt-5">What other Quouchers have to say about <%= @user.name %></h3>
    <% @reviews.each do |review| %>
    <div class="review-card">
      <%= image_tag review.reviewer.profile_picture_url.nil? ? 'https://randomuser.me/api/portraits/women/6.jpg' : review.reviewer.profile_picture_url %>
      <blockquote class="blockquote mb-0">
        <p><%= review.content %></p>
        <p><%= '⭐️' * review.rating   %>
          <p><%= review.reviewer_id %></p>
        </p>
        <footer class="blockquote-footer"><%= review.reviewer.username %></footer>
      </blockquote>
    </div>
  </div>
  <% end %>




  <div>
    <%= link_to "Add Review", new_user_review_path(@user) %>
  </div>
 <hr>
</div>

