<h1><%= @user.name %></h1>
<p><%= @user.city %></p>
<p><%= @user.bio %></p>
<p><%= @user.email %></p>
<img src="<%= @user.profile_picture_url %>" alt="">
<p><%= @user.email %></p>


<%# <%= link_to 'see all profiles', result_page_path, class: 'btn btn-flat' %>
 
<%= link_to "Back", :back %>
